<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>File Share</title>
    <script defer src="/siofu/client.js"></script>
    <script defer src="/socket.io/socket.io.js"></script>

    <script>
      var roomId = "<%=roomId%>"
    </script>
  </head>
  <body>
    <p>Copy provided address and send it to the other person...</p>
    <p>http://localhost:3000/<%=roomId%></p>
    <div>
      <input type="file" id="siofu_input" style="visibility: hidden" />
    </div>
    <div id="users-list">
      <h3>Users</h3>
    </div>
  </body>
  <script defer src="script.js"></script>
</html>
